<!-- =========================
Footer v1
===========================-->
<footer class="bg-secondary dark:bg-background-8 relative overflow-hidden {=$class}">
  <!-- right gradient -->
  <figure
    data-ns-animate
    data-delay="0.4"
    data-duration="0.8"
    data-direction="right"
    data-offset="400"
    class="pointer-events-none select-none absolute size-[550px] top-[-17%] md:top-[-25%] xl:top-[-32%] max-[376px]:right-[-83%] right-[-64%] md:right-[-30%] lg:right-[-19%] xl:right-[-9%] bg-top-right rotate-[-30deg]"
  >
    <img
      class="size-full object-cover object-top"
      src="./images/gradient/gradient-1.png"
      alt="Decorative gradient background"
    />
  </figure>

  <!-- left gradient -->
  <figure
    data-ns-animate
    data-delay="0.4"
    data-duration="0.8"
    data-direction="left"
    data-offset="400"
    class="pointer-events-none select-none absolute size-[728px] md:size-[870px] bottom-[-33%] md:bottom-[-60%] xl:bottom-[-77%] left-[-83%] md:left-[-52%] lg:left-[-38%] xl:left-[-30%] 2xl:left-[-22%] min-[2559px]:!left-[-16%]"
  >
    <img
      class="size-full object-bottom"
      src="./images/gradient/gradient-2.png"
      alt="Decorative gradient background"
    />
  </figure>
  <div class="main-container px-5">
    <div class="grid grid-cols-12 xl:pt-[90px] gap-x-0 gap-y-16 pt-16 pb-12 justify-between">
      <div class="col-span-12 xl:col-span-4">
        <div data-ns-animate data-delay="0.3" class="max-w-[306px]">
          <figure>
            <img src="./images/shared/dark-logo.svg" alt="HL Hunt Logo" />
          </figure>
          <p class="text-accent/60 font-normal text-tagline-1 mt-4 mb-7">
            Empowering Your Financial Future. Helping individuals and businesses build stronger credit through our exclusive in-house credit lines. Trusted by thousands. Secure. Transparent. Reliable
          </p>
          <div class="flex items-center gap-3">
            <a href="#" class="footer-social-link">
              <span class="sr-only">Facebook</span>
              <img class="size-6" src="./images/icons/facebook.svg" alt="Facebook" />
            </a>
            <div class="h-6 w-px bg-stroke-1/20"></div>
            <a href="#" class="footer-social-link">
              <span class="sr-only">Instagram</span>
              <img class="size-6" src="./images/icons/instagram.svg" alt="Instagram" />
            </a>
            <div class="h-6 w-px bg-stroke-1/20"></div>
            <a href="#" class="footer-social-link">
              <span class="sr-only">Youtube</span>
              <img class="size-6" src="./images/icons/youtube.svg" alt="Youtube" />
            </a>
            <div class="h-6 w-px bg-stroke-1/20"></div>
            <a href="#" class="footer-social-link">
              <span class="sr-only">LinkedIn</span>
              <img class="size-6" src="./images/icons/linkedin.svg" alt="LinkedIn" />
            </a>
            <div class="h-6 w-px bg-stroke-1/20"></div>
            <a href="#" class="footer-social-link">
              <span class="sr-only">Dribbble</span>
              <img class="size-6" src="./images/icons/dribbble.svg" alt="Dribbble" />
            </a>
            <div class="h-6 w-px bg-stroke-1/20"></div>
            <a href="#" class="footer-social-link">
              <span class="sr-only">Behance</span>
              <img class="size-6" src="./images/icons/behance.svg" alt="Behance" />
            </a>
          </div>
        </div>
      </div>
      <div class="col-span-12 xl:col-span-8 grid grid-cols-12 gap-x-0 gap-y-8">
        <div class="col-span-12 md:col-span-3">
          <div data-ns-animate data-delay="0.4" class="space-y-8">
            <p class="sm:text-heading-6 text-tagline-1 font-normal text-primary-50">Products</p>
            <ul class="sm:space-y-5 space-y-3">
              <li>
                <a href="#" class="footer-link">Business Credit Builder</a>
              </li>
              <li>
                <a href="#" class="footer-link">Personal Credit Builder</a>
              </li>
              <li>
                <a href="#" class="footer-link">Business Bill Reporting</a>
              </li>
              <li>
                <a href="#" class="footer-link">Personal Bill Reporting</a>
              </li>
              <li>
                <a href="#" class="footer-link">Personal Banking</a>
              </li>
              <li>
                <a href="#" class="footer-link">Business Banking</a>
              </li>
              <li>
                <a href="#" class="footer-link">ExecuSign By HL Hunt</a>
              </li>
              <li>
                <a href="#" class="footer-link">LockBox By HL Hunt</a>
              </li>
              <li>
                <a href="#" class="footer-link">PayFlow Payment Processing</a>
              </li>
              <li>
                <a href="#" class="footer-link">BusinessOS By HL Hunt</a>
              </li>
              <li>
                <a href="#" class="footer-link">HLX Trading</a>
              </li>
              <li>
                <a href="#" class="footer-link">Data IQ By HL Hunt</a>
              </li>
              <li>
                <a href="#" class="footer-link">Hunt Credit Score</a>
              </li>
              <li>
                <a href="#" class="footer-link">Metro 2 Reporting Software</a>
              </li>
              <li>
                <a href="#" class="footer-link">Crypto Wallet</a>
              </li>
              <li>
                <a href="#" class="footer-link">Committee App</a>
              </li>
              <li>
                <a href="#" class="footer-link">SellFi Software</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-span-12 md:col-span-3">
          <div data-ns-animate data-delay="0.5" class="space-y-8">
            <p class="sm:text-heading-6 text-tagline-1 font-normal text-primary-50">Company</p>
            <ul class="sm:space-y-5 space-y-3">
              <li>
                <a href="#" class="footer-link">About Us</a>
              </li>
              <li>
                <a href="#" class="footer-link">Press</a>
              </li>
              <li>
                <a href="#" class="footer-link">News</a>
              </li>
              <li>
                <a href="#" class="footer-link">Contact</a>
              </li>
              <li>
                <a href="#" class="footer-link">Affiliate Program</a>
              </li>
              <li>
                <a href="#" class="footer-link">HL Hunt Credit Watch App</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-span-12 md:col-span-3">
          <div data-ns-animate data-delay="0.6" class="space-y-8">
            <p class="sm:text-heading-6 text-tagline-1 font-normal text-primary-50">Compliance</p>
            <ul class="sm:space-y-5 space-y-3">
              <li>
                <a href="#" class="footer-link">HL Hunt KYC Policy</a>
              </li>
              <li>
                <a href="#" class="footer-link">Data Management & Compliances</a>
              </li>
              <li>
                <a href="#" class="footer-link">HL Hunt Data Furnisher Policies and Procedures</a>
              </li>
              <li>
                <a href="#" class="footer-link">HL Hunt Business Credit Report Dispute Resolution Procedures</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-span-12 md:col-span-3">
          <div data-ns-animate data-delay="0.7" class="space-y-8">
            <p class="sm:text-heading-6 text-tagline-1 font-normal text-primary-50">Legal</p>
            <ul class="sm:space-y-5 space-y-3">
              <li>
                <a href="#" class="footer-link">Terms & Conditions</a>
              </li>
              <li>
                <a href="#" class="footer-link">Privacy Policy</a>
              </li>
              <li>
                <a href="#" class="footer-link">Cookies</a>
              </li>
              <li>
                <a href="#" class="footer-link">Releases</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-span-12 grid grid-cols-12 gap-x-0 gap-y-8 mt-8">
        <div class="col-span-12 md:col-span-6">
          <div data-ns-animate data-delay="0.8" class="space-y-8">
            <p class="sm:text-heading-6 text-tagline-1 font-normal text-primary-50">Subsidiaries</p>
            <ul class="sm:space-y-5 space-y-3">
              <li>
                <a href="#" class="footer-link">HL Hunt Financial</a>
              </li>
              <li>
                <a href="#" class="footer-link">HL Hunt Consulting (Beta)</a>
              </li>
              <li>
                <a href="#" class="footer-link">HL Hunt Insurance (Beta)</a>
              </li>
              <li>
                <a href="#" class="footer-link">HL Hunt Capital (Coming Soon)</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-span-12 md:col-span-6">
          <div data-ns-animate data-delay="0.9" class="space-y-8">
            <p class="sm:text-heading-6 text-tagline-1 font-normal text-primary-50">International Operations</p>
            <ul class="sm:space-y-5 space-y-3">
              <li>
                <a href="#" class="footer-link">HL Hunt USA</a>
              </li>
              <li>
                <a href="#" class="footer-link">HL Hunt Canada</a>
              </li>
              <li>
                <a href="#" class="footer-link">HL Hunt UK/EU</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="pt-[26px] pb-[100px] text-center relative">
      <div
        class="footer-divider absolute top-0 left-0 right-0 w-0 origin-center mx-auto h-px bg-accent/10 dark:bg-stroke-4/10"
      ></div>
      <p
        data-ns-animate
        data-delay="0.7"
        data-offset="10"
        data-start="top 105%"
        class="text-tagline-1 font-normal text-primary-50"
      >
        Copyright &copy;HL Hunt – Empowering Your Financial Future
      </p>
    </div>
  </div>
  <Component src="src/components/shared/theme-toggle.htm" />
  <Component src="src/components/shared/package-link.htm" />

  <!-- SCRIPT -->
  <script type="module" src="./src/main.js"></script>
</footer>
